# 09. 파이썬 반복문

---

## 09.1 파이썬 for 반복문

<pre>
for 변수 in 컬렉션 객체:
</pre>

- 집합 객체에서 첫번째 요소 추출 및 변수 저장
- 변수에 저장된 element 사용하여 코드 실행
- 집합 객체의 모든 요소를 모두 사용할 때까지 반복 수행

ex)

<pre>
for num in [1,2,3]:
</pre>

- 리스트([1,2,3])에서 첫번째 element인 1 추출 및 num 변수에 저장 
- 표준출력으로 num 변수 출력
- element 1,2,3을 모두 사용할때 까지 반복수행 (3회반복)

#### range() 함수
- 지정된 범위 내의 값들을 생성하기 위한 내장함수
- range(start=0, stop, step=1)

<pre>
for i in range(1, 11,2):
    print(i)
</pre>

#### for 반복문과 else 구문
- for 반복문의 else 구문은 반복 종료시 else 블록 실행

<pre>
for i in range(1,10):
    ans = 2 * i
    print(f'2 * {i} = {ans}')
else:
    print('2단종료')
</pre>

### 실습

In [3]:
for num in [1,2,3]:
    print(num)

1
2
3

In [4]:
for st in ['Hello','World','창환']:
    print(st)

Hello
World
창환

In [5]:
score = {'국어':95,'수학':100,'영어':90}

In [6]:
for item in score.keys():
    print(item)

국어
수학
영어

In [7]:
for item in score.values():
    print(item)

95
100
90

In [8]:
for key, value in score.items():
    print(f'{key}과목 점수는 {value}점 입니다.')

국어과목 점수는 95점 입니다.
수학과목 점수는 100점 입니다.
영어과목 점수는 90점 입니다.

In [10]:
print(list(range(10)))
print(list(range(1,11)))
print(list(range(10,0,-1)))
print(list(range(0,11,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[0, 2, 4, 6, 8, 10]

In [11]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [13]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [17]:
for i in range(1,10):
    ans = 2 * i
    print(f'2 * {i} = {ans}')
else:
    print('2단종료')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2단종료

---

## 09.2 while 반복문

- while문이 포함하고 있는 조건검사
- 조건이 True이면 while문 블록 내 코드 실행 후 다시 수행
- 조건이 False이면 else블록 실행 후 while문 반복 종료

<pre>
while 조건:
    실행코드
else:
    실행코드
</pre>

while 무한반복

- 반드시 while문 내 if문을 이용한 종료조건 추가

<pre>
while True:
    실행코드
    if 종료조건:
        break
</pre>

### 실습

In [21]:
a = 0
while a < 10:
    print(a)
    a += 1
else:
    print(f'a가 {a}이므로 종료합니다.')

0
1
2
3
4
5
6
7
8
9
a가 10이므로 종료합니다.

In [31]:
x = 0

# 3의 배수를 먼저 출력
# 조건에 만족할시 종료 (102가 나온 이유는 덧셈이 먼저 수행되었기 때문)
while True :
    x += 3
    print(x)
    
    if x > 100 and x %3 == 0 :
        break

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
102

---

## 09.3 리스트 컴프리헨션

- 리스트 각 원소들에 대해 연산을 수행하여 업데이트

<pre>
[표현식 for 변수 in 리스트 객체]
</pre>

<pre>
[표현식 for 변수 in 리스트 객체 if 조건식]
</pre>

### 실습

In [24]:
list1 = list(range(1,11))
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
list2 = [i*2 for i in list1]
list2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [26]:
list3 = [i**2 for i in list1 if i % 2== 0]
list3

[4, 16, 36, 64, 100]