## COUNT로 행 개수 구하기
- 함수는 어떤 값을 입력하면 그에 대응하는 결과 값을 출력하는 작업을 수행하는 상자와 같은 것
- COUNT 함수 ()안에 행 수를 알고 싶은 컬럼을 넣어서 출력
    - COUNT(*) : NULL 값은 제외한 모든 행 수 구하기

<pre>
SELECT COUNT(*), COUNT(position), COUNT(birth_date)
FROM player; 
</pre>

---

## SUM으로 합계 구하기
- SUM 함수에 지정되는 컬럼은 숫자형만 가능
- NULL값은 무시한 뒤 합계를 구함

<pre>
SELECT SUM(sell_price) ,SUM (buy_price)
FROM product; 
</pre>

---

## AVG로 평균 구하기
- 평균값 구하기 : SUM(컬럼)/COUNT(컬럼) or AVG 함수 사용
- AVG함수에 지정되는 컬럼은 숫자형만 가능
- NULL값은 무시한 뒤 평균을 계산

<pre>
SELECT AVG(sell_price)
FROM product;
</pre>

---

## MIN/MAX로 최소값/최대값 구하기
- MIN(), MAX() 함수를 사용해 최소값과 최대값 구하기
- 숫자형 자료뿐 아니라 문자형, 날짜형 자료에도 사용

<pre>
SELECT MAX(height), MIN(height)
FROM player;
</pre>

---

## GROUP BY로 그룹나누기
- 테이블을 몇개의 그룹으로 나누어서 집계작업을 수행
- ~마다, ~별, ~단위등으로 표현되는 것을 GROUP BY

team_id별로 행의 개수를 추출하고, 팀별 등록 선수의 수를 구함

<pre>
SELECT team_id, COUNT(*)
FROM player
GROUP BY team_id;
</pre>

### 주의사항
- 집계함수 계산을 수행할때는 NULL값을 제외시키고 처리하지만 GROUP BY에 사용한 컬럼에 NULL값이 있는 경우 NULL값도 별도의 그룹으로 처리

---

## 여러 컬럼으로 그룹 나누기
- 좀 더 세밀하게 나누어서 조회하고 싶은 경우 GROUP BY절에 여러 항목을 지정

position별, team_id별로 데이터의 개수를 구하는 SQL문

<pre>
SELECT position, team_id, COUNT(*)
FROM player
GROUP BY position, team_id; 
</pre>

- position이 같은 선수들을 하나의 그룹으로 나누는 것이 아니라 동일한 포지션을 담당하더라도 소속팀이 다른 경우 서로 다른 그룹

---

## WHERE와 GROUP BY 함께 사용하기
- GROUP BY와 WHERE절을 함께 사용하는 경우 WHERE절 뒤에 사용
- WHERE에 지정한 조건을 만족하는 자료를 먼저 추출한 다음 분류작업을 수행

team_id가 'K06'이라는 값을 가진 행들을 position별로 그룹핑하고, 각 포지션별 데이터 개수를 구하고 그들의 키 평균을 구하라

<pre>
SELECT position, COUNT(*), AVG(height)
FROM player
WHERE team_id ='K06'
GROUP BY position;
</pre>

---

## HAVING절 이용하기
- GROUP BY로 나눈 그룹 중 어떤 그룹을 포함하고 어떤 그룹을 배제할 것인지 필터링 하고 싶은 경우 사용

해당 포지션을 담당하는 선수인원이 3명보다 많은 포지션만 결과에 나오도록 포지션, 소속인원을 조회

<pre>
SELECT position, COUNT(*)
FROM player
GROUP BY position
HAVING COUNT(*) > 3;
</pre>

---

## 그룹 결과 정렬하기
- GROUP BY로 그룹화된 자료들을 특정 기준으로 정렬된 형태로 조회하고 싶은 경우 별도로 ORDER BY절을 지정

인원수가 많은 팀부터 나오도록 정렬을 수행해서 조회

<pre>
SELECT team_id, COUNT(*)
FROM player
GROUP BY team_id
ORDER BY count(*) DESC;
</pre>