## INSERT란?
- 테이블에 데이터(행)을 등록하려면 INSERT 문장을 사용
- 문자와 날짜 자료에 입력값을 지정할때 작은 따옴표(' ')로 묶어서 지정

1. 완전한 행 입력하기
2. 부분 행 입력하기
3. 쿼리 결과 입력하기

### 완전한 행 입력하기
- 테이블에 있는 모든 컬럼에 값을 지정해서 입력
- INSERT INTO 테이블명 뒤에 테이블의 모든 컬럼을 ()로 묶어서 지정

newproduct 테이블 생성

<pre>
CREATE  TABLE newproduct
( 
	prod_id CHAR(3) PRIMARY KEY,
	prod_name VARCHAR(20),
	category VARCHAR(20),
	sell_price INT,
	buy_price INT
);
</pre>
<br>

insert구문을 이용해 자료를 입력
<pre>
INSERT INTO newproduct  
VALUES ('101', '아이패드', '컴퓨터', 700000, 550000 );
</pre>

### 부분행 입력하기
- 테이블의 컬럼 중 일부 컬럼에만 값을 지정해서 자료를 입력할 수 있음
- 입력 컬럼 목록에 없는 컬럼값은 기본값으로 저장
- 컬럼의 기본값을 따로 설정하지 않은 경우 NULL값
- NULL 값을 허용하지 않고 기본값이 없는 컬럼을 목록에서 누락시키면 오류

해당 컬럼외에는 NULL값이 입력

<pre>
INSERT INTO newproduct ( prod_name, prod_id)  VALUES ('책장','104');
</pre>

### 쿼리 결과 입력하기
- 보통의 경우 VALUES 키워드 다음 입력 값을 지정하지만 다른 테이블에서 SELECT한 자료를 이용해 입력 작업을 할 수 있음
- INSERT ~ SELECT 형태로 사용

product라는 테이블에서 종류가 '가전'인 데이터를 조회한 다음, 조회한 결과를 일괄적으로 newproduct 테이블에 등록

<pre>
INSERT INTO newproduct
SELECT prod_id, prod_name, category, sell_price, buy_price
FROM product
WHERE category='가전';


SELECT  * 
FROM   newproduct; 

</pre>

---

## UPDATE 기본 구문
- 데이터를 수정하기 위해 UPDATE문이 사용
- UPDATE 명령에서는 SET 다음에 갱신할 컬럼과 변경값을 지정
- 문법은 SET 컬럼명 = 값 형태

newproduct의 모든 buy_price값을 기존값에 100씩 더해주는 변경작업

<pre>
UPDATE newproduct
SET buy_price = buy_price +100; 

SELECT * 
FROM newproduct; 
</pre>

### 조건을 지정한 UPDATE
- 변경 대상 행을 제한하고 싶은 경우 WHERE절에 조건을 지정

102번 제품의 sell_price를 999000으로 변경

<pre>
UPDATE newproduct 
SET sell_price = 999000
WHERE prod_id = '102';

SELECT * 
FROM newproduct; 
</pre>

### 여러 컬럼 갱신하기
- UPDATE문 SET 위치에 여러 컬럼을 지정하면 동시에 여러 컬럼의 값을 변경
- SET 뒤에 사용할 수 있는 컬럼수는 제한이 없습니다.
- SET 다음에 (,)로 구분하여 SET 컬럼명1 = 변경값, 컬럼명2 = 변경값 ..

newproduct 테이블 101번 자료의 제품이름은 맥북으로, 판매가격은 431000, 구매가격은 220000으로 변경하는 문장을 수행

<pre>
UPDATE newproduct 
SET	sell_price = 431000 ,
	buy_price = 220000,
	prod_name = '맥북'
WHERE prod_id = '101';

SELECT * 
FROM newproduct; 
</pre>

---

## DELETE 기본 구문
- 테이블에 저장되어 있는 행을 삭제
- 테이블 자체를 삭제하지는 않음
- 조건을 지정하지 않으면 해당 테이블 모든 행을 삭제 (DELETE FROM 테이블명;)

newproduct 테이블 자료를 모두 삭제

<pre>
DELETE FROM newproduct; 

SELECT COUNT(*) 
FROM newproduct;
</pre>

### 삭제 대상 제한하는 DELETE
- 일부 행만 삭제하는 경우 WHERE에 조건을 지정
- DELETE 구문에서는 컬럼명이나 *를 사용하지 않습니다.

newproduct 자료 중 category 가구인 제품만 삭제합니다.

<pre>
DELETE FROM newproduct
WHERE category ='가구';

SELECT * 
FROM newproduct; 
</pre>